.bar {
	width: 100%;
	z-index: 101;
	position: fixed;
    background-color:  #ecf0f1;
    top : -75px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.bar.sticky {
	top:0px;
}

.bar-inner {
	padding: 16px 14px;
}



.company-logo {
	height: 29px; 
}

.bar-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    color: #7f8c8d;
    padding-right: 10px;
}

.nav_down {
    top : 0px;
    transition: .5s;
}

.nav_up {
    top : -75px;
    transition: .5s;
}