.bar {
	width: 100%;
	z-index: 101;
	position: fixed;
    top: -70px;
    background-color:  #ecf0f1;
    
}
.bar.sticky {
	top:0px;
}

.bar-inner {
	padding: 20px 15px;
}

.bar_logo {

}

.company_logo {
	height: 29px; 
}

.bar-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    color: #7f8c8d;
    padding-right: 10px;
}