.benefits {
	width: 70%;
	background-color: #ecf0f1;
	color: #808080;
	border-bottom: 2px solid grey;
	margin: 0px auto;
	padding: 100px 0px;
}

.benefit-title {
	width: 100%;
    font-weight: normal;
	text-align: center;
	margin-bottom: 40px;
}
.benefit-title_main {
	font-size: 2.3em;
    font-weight: normal;
}

.benefit-items {
	width: 80%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.benefit-item {
	width: 30%;
	height: 300px;
    text-align: center;
    line-height: 1.9em;
    padding: 15px;
    margin: 0 15px;
}

.benefit-item:hover {
	width: 30%;
	height: 300px;
	background-color: #d8efef;
    box-shadow: 0 5px 7px 0 rgba(0,0,0,.1);
    transition: 0.7s;
    padding: 15px;
    margin: 0px 15px;
}

.benefit-item-title_main {
	font-size: 1.5em;
	font-weight: normal;
    padding-bottom: 15px;
    padding-top: 25px;
}

.behefit-item-title_submain {
	font-size: 1.1em;
}

.benefit-item .fa {
	font-size: 70px;
	color: #4b869a;
}




@media screen and (max-width: 1400px) {

	.benefit-items {
		width: 100%;
		
	}

	.benefit-item {
		width: 35%;
		margin: 15px;
		padding: 0px;
	}

	.benefit-item:hover {
		width: 35%;
		margin: 15px;
		padding: 0px;
	}

}

@media screen and (max-width: 1000px) {

	.benefits {
		width: 90%;
	}

	.benefit-item {
		width: 40%;
		margin: 15px;
		padding: 0px;
	}

	.benefit-item:hover {
		width: 40%;
		margin: 15px;
		padding: 0px;
	}

}

@media screen and (max-width: 930px) {

	.benefit-items {
		width: 60%;
		margin: 0px auto;
		display: flex;
		flex-direction: column;
	}

	.benefit-item {
		width: 90%;
		margin: 15px;
	}

	.benefit-item:hover {
		width: 90%;
		margin: 15px;
	}
}


@media screen and (max-width: 700px) {

	.benefit-items {
		width: 85%;
		margin: 0px auto;
		display: flex;
		flex-direction: column;
			
	}

	.benefit-item {
		margin: 15px 5px;
	}

	
}

@media screen and (max-width: 500px) {

	.benefit-items {
		width: 95%;
		margin: 0px auto;
	}

	.benefit-item {
		width: 100%;
		margin: 10px 0px;
	}

	.benefit-item:hover {
		width: 100%;
		margin: 10px 0px;
	}


	.benefit-item .fa {
		font-size: 55px;
	}

	.padd {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}
