.benefits {
	background-color: #4a4a4a;
	padding: 50px 0px;
}

.benefit-title {
	width: 100%;
    font-weight: normal;
	text-align: center;
	margin-bottom: 40px;
}
.benefit-title_main {
	font-size: 2.3em;
    font-weight: normal;
}

.benefit-items {
	width: 60%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.benefit-item {
	width: 30%;
	height: 300px;
    background-color: rgba(255,255,255,.12);
    box-shadow: 0 5px 7px 0 rgba(0,0,0,.1);
    text-align: center;
    line-height: 1.9em;
    padding: 20px;
    margin: 0 20px;
}

.benefit-item-topline {
	height: 20px;
	background-color: hsla(6, 78%, 57%, 0.69);
	margin: -20px -20px 20px -20px;
}

.benefit-item-title_main {
	font-size: 1.5em;
	font-weight: normal;
    padding-bottom: 15px;
    padding-top: 25px;

}
.behefit-item-title_submain {
	font-size: 1.1em;
}

.benefit-item .fa {
	font-size: 70px;
}




@media screen and (max-width: 1400px) {
	.benefit-items {
		width: 85%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1000px) {
	/*.benefit-items {
		width: 100%;
		margin: 0px auto;
		display: flex;
		flex-direction: column;
	}*/

	.benefit-item {
		width: 40%;
	}

	.benefit-item {
		margin: 15px;
	}
}

@media screen and (max-width: 930px) {
	.benefit-items {
		width: 50%;
		margin: 0px auto;
		display: flex;
		flex-direction: column;
	}

	.benefit-item {
		width: 90%;
	}

	.benefit-item {
		margin: 15px;
	}
}


@media screen and (max-width: 700px) {
	.benefit-items {
		width: 85%;
		margin: 0px auto;
		display: flex;
		flex-direction: column;
		
	}

	.benefit-item {
		margin: 15px;
	}

	
}

@media screen and (max-width: 500px) {
	/*.benefit-items {
		width: 100%;
		display: flex;
		flex-direction: column;
		
	}

	.benefit-item {
		margin: 15px 0px;
	}*/

	.benefit-item .fa {
	font-size: 55px;
}
}