.choose-ats	{
	background-color: rgba(22, 160, 133,1.0);
	padding: 120px 0px 220px;
}

.choose-ats-title {
	width: 100%;
	font-weight: normal;
	text-align: center;
	margin-bottom: 40px;
}

.title-h1  {
	font-size: 2.3em;
    font-weight: normal;
    margin-bottom: 50px;
}

.ats-button-cont {
	width: 50%;
 	display: flex;
 	justify-content: space-around;
 	align-items: center;
 	margin: 0 auto;
}

.ats-button-cont__btn {
    border: 2px solid;
    border-radius: 5px;
    margin: 0 10px;
    padding: 10px 30px 5px 30px;
}

.ats-button-cont__btn:hover {
	background-color: #ecf0f1;
}



@media screen and (max-width: 600px) {
	.ats-button-cont {
		width: 80%;
		display: flex;
		flex-direction: column;
	}

	.ats-button-cont__btn {
		margin-bottom: 20px;
	}

	.choose-ats {
		padding-top: 80px;
		padding-bottom: 100px;
	}
}

