.choose-ats	{
	background-color: #34495e;
	padding: 200px 0px 220px;
}

.choose-ats-title {
	width: 100%;
	font-weight: normal;
	text-align: center;
}

.choose-ats-title_main  {
	font-size: 2.3em;
    font-weight: normal;
    margin-bottom: 50px;
}

.ats-button-cont {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	margin: 0 auto;
}

.zoho_btn{
	border: 2px solid #e2b913;
    color:white;
}

.zoho_btn:hover {
	background-color:  #e2b913;
	transition: .7s; 
}

.cats_btn {
	border: 2px solid #f69212;
	color: white;
}

.cats_btn:hover {
	background-color:  #f69212;
	transition: .7s;
	
}

.bpm_btn {
	border: 2px solid #0072b3;
	color: white;
}
.bpm_btn:hover {
	background-color:  #0072b3;
	transition: .7s;
}

.ats-button-cont_btn {
    
    font-size: 25px;
    font-weight: 600;
    border-radius: 5px;
    margin: 0 10px;
    padding: 5px 0px;
	text-align: center;
}


.ats-button-cont_link {
	padding : 7px 35px;
	color: white;
	cursor: pointer;
}



.ats-item {
	max-width: 350px;
	min-width: 300px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    background-color: rgba(255,255,255,.05);
	box-shadow: 0 5px 7px 0 rgba(0,0,0,.1);
	padding: 20px;
	margin: 20px;
}

.ats-item-title{
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	padding: 5px;
	border-radius: 2px;
	background-color: rgba(255,255,255,.05);
	box-shadow: 0 5px 7px 0 rgba(0,0,0,.1);
}

.ats-item-title-img{
	padding-right: 5px;
	height: 29px;
}

.ats-item-title-text{
	width: 100%;
	text-align: center;
}

.ats_description {
	text-align: center;
}




@media screen and (max-width: 1010px) {
	.ats-button-cont {	
		display: flex;
		flex-direction: column;
	}	
}



@media screen and (max-width: 770px) {

	.choose-ats-title-main  {
		font-size: 2.0em;
	    margin-bottom: 30px;
	}	
}


