.footer {
	width: 100%;
	background-color: #4a4a4a;
}

.contact-cont-top {
	padding: 50px 0px;
}

.contact-title{
	width: 100%;
    font-weight: normal;
	text-align: center;
	margin-bottom: 20px;
}

.contact-title_main {
	font-size: 2.0em;
    font-weight: normal;
    word-spacing: 10px;
}

.contact-title_submain {
	font-size: 1.0em;
	font-weight: normal;
	font-style: italic;
}

.contact-title_submain2 {
	margin-top: 50px;
}

.contact-title_link {
	color: #e74c3c;
    letter-spacing: 8px;
    font-size: 1.8em;
}

.contact-cont-bottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #262626;
	padding: 30px 20px;
}

.contact-items {
	display: flex;
	justify-content: space-around;
	
}

.contact-item {
	padding-right: 40px;
}

.contact-items .contact-item:last-child {
	padding-right: 0px;
}

.contact-item_link {
	color: #ecf0f1;
}

.copyrights {
	display: flex;
	justify-content: flex-end;
	/*font-size: 1.0em;*/
}

.copyright-item {
	padding-right: 20px;
	padding-left: 10px;
	border-right: 2px solid #ecf0f1;
}

.copyrights .copyright-item:last-child {
	border-right: none;
	padding-right: 0px;
}




@media screen and (max-width: 1100px) {
	.contact-cont-bottom {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-items {
	padding-bottom: 30px;
}

.copyrights {
	font-size: 0.9em;
}

.contact-title_main {
	font-size: 1.8em;
    font-weight: normal;
    word-spacing: 8px;
}
}


@media screen and (max-width: 620px) {
.contact-cont-bottom {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.copyrights {
	padding-left: 100px;
}

.contact-items {
	display: flex;
	flex-direction: column;
	
}

.contact-item {
	padding-top: 15px;
	padding-left: 15px;
}
}


@media screen and (max-width: 500px) {

/*.contact-items {
	padding-bottom: 30px;
}*/

.contact-title_main {
	font-size: 1.5em;
    font-weight: normal;
    word-spacing: 7px;
} 

/*.contact-item {
	padding-right: 15px;
}*/

.copyrights {
	font-size: 0.7em;
}

.copyright-item {
	padding-right: 10px;
}


}