.header {
	background-color: #00a388;
	padding: 10px 0px 50px 0px;
}


.header_inner {
	width: 95%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin: 0 auto;
}

.company_logo {
	height: 29px; 
}

.header_icons_group {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ecf0f1;
	padding-bottom: 3px;
	margin: 0 auto;
    margin-right: 0px;
}
.header_icons_group .icon-social:last-child {
	padding-right: 0px;
}


.icon-social {
	line-height: normal !important;
	padding-right: 1.3em;
}


	  /*navigation*/

.nav {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.0em;
	font-weight: 100;
	padding-bottom: 3px;
	padding-left: 60px;
} 

.nav_item{
	padding-right: 1.6em;
}

.nav_item__link {
	color: #ecf0f1;
	border-radius: 4px;
	padding: 8px 15px;
}

.nav_item__link:hover {
	background-color: #1abc9c;
}


.header-top-cont{
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0px auto;
	padding-top: 65px;
}

.intro {
	background-color: rgba(255,255,255,.05);
	box-shadow: 0 5px 7px 0 rgba(0,0,0,.1);
	padding: 20px; 
}

.intro > * {
	padding-bottom: 40px;
}

.intro-title {
	width: 100%;
	text-align: center;
} 

.intro-title-main {
	font-size: 3.5em;
	font-weight: 100;
} 

.linkedin-anim {
	/*padding-top: 100px;*/
}

.ats-logos-cont {
	width: 100%;
 	display: flex;
 	justify-content: space-around;
 	align-items: center;
 	margin: 0 auto;
}

.ats-logos-cont__logo {
	padding-right: 30px; 
}

.ats-logos-cont .ats-logos-cont__logo:last-child {
	padding-right: 0px;
}



.button {
	max-width: 370px;
	text-align: center;
	font-size: 1.5em;
	border-radius: 5px;
	border: 2px solid;
	margin: 0 auto;
	padding: 18px 40px;
  
}

.try_btn {
	display: none;	

}

.button-link {
	color: #ecf0f1;
} 

.tips {
	font-size: 1.1em;
	font-weight: 100;
	text-align: center;
}



.row {
	text-align: center;
}


.linkmatch-working-gif {
	border-radius: 3px;
}


@media screen and (max-width: 1500px) {
.header-top-cont {
	width: 100%;
}

.ats-logos-cont {
	width: 70px;
}

	
.intro-title-main {
	font-size: 3.2em;
}
}


@media screen and (max-width: 1280px) {
.intro {
	width: 100%;
	margin: 0px;
}

.header-top-cont {
	width: 100%;
	display: flex;
	flex-direction: column;
}


}

@media screen and (max-width: 770px) {

.header_icons_group {
  	margin-left: 40px;
  }

.nav {
	display: none;
}

}



@media screen and (max-width: 596px) {

.intro > * {
	padding-bottom: 20px;
}

.intro-title-main {
	font-size: 2.7em;
  }

.intro-title-submain {
  	font-size: 2.4em;
  }

.tips {
	font-size: 1.1em;
  }

.intro-title {
	padding-top: 40px;
	margin: 0px;
}

.button {
	font-size: 1.5em;
	padding: 10px 20px;
  }

.linkmatch-working-gif {
	max-width: 100%;
}
}


@media screen and (max-width: 550px) {
.header_inner {
	width: 100%;
}

.header-top-cont {
	padding-top: 20px;
}

.intro > * {
	margin-top: 20px;
}	

.intro-title-main {
	font-size: 2.2em;
  }

.intro-title-submain {
  	font-size: 2.0em;
  } 


.ats-logos-cont {
	width: 100%;
 	display: flex;
	flex-direction: column;
 	margin: 0 auto;
}

.ats-logos-cont__logo {
	padding: 10px; 
} 

.try_btn {
	display: inline-block;
	max-width: 370px;
	text-align: center;
	font-size: 1.5em;
	border-radius: 5px;
	border: 2px solid;
	margin: 0 auto;
	padding: 10px 20px;
}

.button {
	display: none;
}

.header_icons_group {
	position: fixed;
	top: 60px;
	right: 0px;
	display: flex;
	flex-direction: column;
}

.icon-social {
	padding-bottom: 10px;
	padding-right: 0px;
}

}



