.header {
	background-color: #00a388;
	padding: 20px 0px 170px 0px;
}

.header_terms {
	background-color: #00a388;
	padding: 20px 0px 30px 0px;
}

.header-inner {
	width: 95%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin: 0 auto;
}

.company-logo {
	height: 29px; 
}

.header-icons-group {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ecf0f1;
	padding-bottom: 3px;
	margin: 0 auto;
    margin-right: 0px;
}
.header-icons-group .icon-social:last-child {
	padding-right: 0px;
}

.icon-social {
	line-height: normal !important;
	padding-right: 1.3em;
}


	  /*navigation*/

.nav {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.0em;
	font-weight: 100;
	letter-spacing: 1px;
	padding-bottom: 3px;
	padding-left: 60px;
} 

.nav-item{
	padding-right: 1.1em;
}

.nav-item_link {
	font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
	color: #fff;
    background: 0 0;
    padding: 6px 15px;
    border-radius: 6px;
    background-clip: padding-box;
    box-shadow: 0 5px 7px 0 transparent;
    transition: .4s;
}

.nav-item_link:hover {
	background: rgba(0,0,0,.3);
    color: #fc7346;
    box-shadow: 0 5px 7px 0 rgba(0,0,0,.1);
}


.header-top-cont{
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0px auto;
	padding-top: 65px;
}

.intro {
	background-color: rgba(255,255,255,.05);
	box-shadow: 0 5px 7px 0 rgba(0,0,0,.1);
	padding: 50px; 
}

.intro > * {
	padding-bottom: 40px;
}

.intro-title {
	width: 100%;
	text-align: center;
} 

.intro-title-main {
	font-size: 2.7em;
	font-weight: 500;
} 

.linkedin-anim {
	max-width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ats-logos-cont {
	width: 80%;
 	display: flex;
 	justify-content: space-around;
 	align-items: center;
 	margin: 0 auto;
}

.ats-logos-cont-logo {
	padding-right: 30px; 
}

.ats-logos-cont .ats-logos-cont-logo:last-child {
	padding-right: 0px;
}



.button_link{
    color: white;  
}

.button_link:hover {
    color: #f69321 !important;
    background-color: white;
  
}



.button_link {
	max-width: 370px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 5px;
    margin: 0 auto;
    padding: 18px 34px;
    color: white;
    background-color: #f69321;
    transition: 0.7s;
} 

.tips {
	font-size: 1.1em;
	font-weight: 100;
	text-align: center;
}



.row {
	text-align: center;
}


.linkmatch-working-gif {
	border-radius: 3px;
	width: 100%;
}


@media screen and (max-width: 1690px) {
	.header-top-cont {
		width: 90%;
	}

}

@media screen and (max-width: 1500px) {
	.header-top-cont {
		width: 100%;
	}

	.ats-logos-cont {
		width: 70px;
	}

	
	.intro-title_main {
		font-size: 3.2em;
		}
}


@media screen and (max-width: 1280px) {
	.intro {
		width: 80%;
		margin: 0px;
	}

	.header-top-cont {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 0px auto;
	}

	.linkedin-anim {
		margin: 25px;
	}

}


@media screen and (max-width: 1070px) {
	
	.header-icons-group {
		position: fixed;
		top: 80px;
		right: 0px;
		display: flex;
		flex-direction: column;
		
	}

	.icon-social {
		margin-bottom: 10px;
		padding-right: 0px;
	}	
}




@media screen and (max-width: 1010px) {
	.nav {
	display: none;
	}
}


@media screen and (max-width: 770px) {

	.intro {
		width: 90%;
	}	

	.header-icons-group {
	  	margin-left: 40px;
	}


}


@media screen and (max-width: 640px) {


	.intro > * {
		padding-bottom: 20px;
	}

	.intro-title_main {
		font-size: 2.7em;
	}

	.intro-title_submain {
	  	font-size: 2.4em;
	}

	.tips {
		font-size: 1.1em;
	}

	.intro-title {
		margin: 0px;
	}

	.button_link {
		font-size: 1.5em;
		padding: 10px 20px;
	}

	.linkmatch-working-gif img {
		max-width: 100%;
	}
}


@media screen and (max-width: 600px) {
	.header-inner {
		width: 100%;
	}

	.header-top-cont {
		padding-top: 20px;
	}

	.intro {
		padding: 0px;
	}

	.intro-title-main {
		font-size: 2.2em;
		padding-top: 20px;
	 }

	.intro-title-submain {
	  	font-size: 2.0em;
	 } 


	.ats-logos-cont {
		width: 100%;
	 	display: flex;
		flex-direction: column;
	 	margin: 0 auto;
	}

	.ats-logos-cont-logo {
		padding: 10px; 
	} 

	.lm-try-btn {
		display: none;	

	}

}

