body, html, main {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Museo;
	color: #ecf0f1;
	font-weight: 300;
}

h1, h2, h3, h4, h5 {
	margin: 0px; 
}

header, nav, footer, section, article, div {
    box-sizing: border-box;
}


ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
a {
	text-decoration: none;
}

@font-face {
	font-family: Museo;
	src: url("../fonts/Museo.otf") format("opentype"),
		 url("../fonts/Museo-0.otf") format("opentype"),
		 url("../fonts/Museo-1.otf") format("opentype"),
		 url("../fonts/Museo-2.otf") format("opentype"),
		 url("../fonts/Museo-3.otf") format("opentype");

}


.top-container {
  	width: 100%;

}

.shadow {
	display: none;
	z-index: 1000;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(74,74,74,.8);
}

.shadow-visible {
	display: block;
}

.shadow-hidden {
	display: none;
}


body::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #d6dadc;
}

body::-webkit-scrollbar-thumb {
    background: #c4c9cc;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 3000px) {
.top-container {
  	width: 80%;
  	margin: 0px auto;
}
}
