.testimonials {
	width: 70%;
	background-color: #ecf0f1;
	color: black;
	border-bottom: 2px solid grey;
	margin: 0px auto;
	padding: 100px 0px;
}


.testim-title {
	width: 100%;
    font-weight: normal;
	text-align: center;
	color: #808080;
	margin-bottom: 40px;
}

.testim-title_main {
	font-size: 2.3em;
    font-weight: normal;
}

.testim-title_submain {
	font-size: 1.1em;
    font-weight: normal;
}

.testim-items {
	width: 80%;
	display: flex;
	flex-direction: column;
	color:  #808080;
	margin: 0 auto;
}

.testim-item {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;

} 

/*.testim-items .testim-item:last-child {
	padding-right: 0px;
}*/

.testim-item-top {
    padding-right: 35px;
    font-size: 18px;
    font-style: italic;
    line-height: 1.6;
    min-height: 120px;
}


.testim-item-bottom {
	display: flex;
	justify-content: flex-start;
	color: #808080;
}

.testim-author-avatar {
	padding-right: 40px;
}

.avatar {
	height: 100px;
}

.testim-author-name {
	font-size: 1.1em;
	font-weight: normal;
	
}

.testim-author-posit {
	font-size: 0.9em;
	font-weight: normal;
}




@media screen and (max-width: 1400px) {
	
	.testim-items {
		width: 85%;
		margin: 0 auto;
	}

}

@media screen and (max-width: 1150px) {
	
	.testim-item-top {
		font-size: 1.0em;
	    line-height: 1.4;
	}

}


@media screen and (max-width: 1000px) {
	
	.testimonials {
		width: 90%;
	}

	.testim-items {
		width: 90%;
	}

}

@media screen and (max-width: 550px) {

	.testim-item {
    	display: flex;
    	flex-direction: column;
   		padding: 30px 0px;
	} 

	.testim-item-top {
		padding-bottom: 25px;
	}

	.padd {
		padding-top: 80px;
		padding-bottom: 70px;
	}
}


@media screen and (max-width: 500px) {
	
	.testim-items {
		width: 100%;
	}

}